.grid-wrapper {
  display: grid;
  height: 82vh;
  grid-template-columns: 20% 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";

  & > header {
    grid-area: header;
  }
}

header {
  background-color: lightblue;
}

.header-container-flex {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.nav-container-flex {
  display: flex;
  gap: 20px;
  align-items: center;
}

section {
  margin: 0;
  background-color: mintcream;
  min-height: 30dvh;
}

section:nth-child(2n) {
  background-color: hsl(mintcream);
}

aside > img {
  max-width: 98%;
}
