:root {
  --primary: mintcream;
  --secondary: lightblue;
  --background: white;
  --fontColor: black;
}

body {
  color: var(--fontColor);
}

.grid-wrapper {
  display: grid;
  height: 82vh;
  grid-template-columns: 20% 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  background-color: var(--background);
}

header {
  background-color: var(--secondary);
  grid-area: header;
}

.header-container-flex {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.header-container-flex h1 {
  flex: 1;
  margin: 10px;
}

.header-container-flex nav {
  flex: 1;
  align-items: center;
}
.nav-container-flex {
  display: flex;
  gap: 20px;
  align-items: center;
}

section {
  margin: 0;
  background-color: var(--primary);
  min-height: 30dvh;
}

aside > img {
  max-width: 98%;
}

.aside-container-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.img-aside {
  margin-top: 10px;
  object-fit: contain;
}

.grid-wrapper h2 {
  margin: 10px;
}

.grid-wrapper-Subsite {
  display: grid;

  grid-template-columns: 1fr 30%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
  background-color: var(--background);
}

.grid-wrapper-Subsite img {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.iconHobby circle {
  fill: black;
}
.iconHobby rect {
  fill: white;
}
.iconKarriere circle {
  fill: black;
}
.iconKarriere line {
  stroke: white;
}
.iconFamilie circle {
  fill: black;
}

@media (max-width: 600px) {
  .grid-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  .header-container-flex h1 {
    margin: 0px;
  }
  .header-container-flex {
    gap: 5px;
    justify-content: center;
  }
}
